
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #8b0000;
  margin-bottom: 20px;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}


.stadium {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: url(imgs/std.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.sidebar .player-card {
  margin: 10px auto;
}

.player-card {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #333;
  background-image: url(imgs/000.png);
  background-size: cover;
  border: 2px  #fff;
}


.goal {
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.defender1 {
  top: 70%;
  left: 10%;
}

.defender2 {
  top: 70%;
  left: 30%;
}

.defender3 {
  top: 70%;
  left: 57%;
}

.defender4 {
  top: 70%;
  left: 77%;
}


.midfielder1 {
  top: 50%;
  left: 10%;
}

.midfielder2 {
  top: 50%;
  left: 30%;
}

.midfielder3 {
  top: 50%;
  left: 57%;
}

.midfielder4 {
  top: 50%;
  left: 77%;
}


.stirker1 {
  top: 25%;
  left: 30%;
}

.stirker2 {
  top: 25%;
  left: 57%;
}
