body {
  padding: 0px 0px 126px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  z-index: 500;
}

.header {
  height: 40px;
  width: auto;
  max-width: 1400px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  
  width: 160px;
  height: 40px;
  position: relative;
}

.name-logo {
  font-size: 25px;
  color: rgb(239, 65, 65);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search {
  width: 280px;
  position: relative;
}