* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(imgs/body3.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #8b0000;
  margin-bottom: 20px;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}


.stadium {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: url(imgs/std.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.sidebar {
  
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  align-items: center;
  width: 20%;
}

.sidebar h2 {
  grid-column: span 2;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
}

.sidebar .player-card {
  margin: 10px auto;
  
  
}

.player-card {
  position: absolute;
  width: 100px;
  height: 140px;
  background-image: url(imgs/badge_gold.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
} 
.player-card2 {
  width: 200px;
  height: 300px;
  background-image: url(imgs/badge_gold.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
} 


.plus {
  font-size: 45px;
  color: rgb(2, 123, 2);
}

.plus:hover {
  color: rgb(2, 64, 2);
}

.position {
  font-family: bold;
  font-size: 20px;
  color: rgb(2, 123, 2);
}


#goal {
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#defender1 {
  top: 60%;
  left: 10%;
}

#defender2 {
  top: 60%;
  left: 30%;
}

#defender3 {
  top: 60%;
  left: 57%;
}

#defender4 {
  top: 60%;
  left: 77%;
}


#midfielder1 {
  top: 40%;
  left: 10%;
}

#midfielder2 {
  top: 40%;
  left: 30%;
}

#midfielder3 {
  top: 40%;
  left: 57%;
}

#midfielder4 {
  top: 40%;
  left: 77%;
}


#stirker1 {
  top: 15%;
  left: 30%;
}

#stirker2 {
  top: 15%;
  left: 57%;
}

#sub1,
#sub2,
#sub3,
#sub4,
#sub5,
#sub6,
#sub7 {
  position: static;
  width: 100px;
  height: 140px;
  background-image: url(imgs/badge_gold.webp);
  background-size: cover;
  
}

